<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>测试RESTFul编程风格</h1>
<hr/>

<!--RESTFul风格的;查看用户列表-->
<a th:href="@{/user}">查看用户列表</a>
<br/>
<a th:href="@{/user/110}">查询id=110的这个用户信息</a>
<br/>
<br/>
<br/>

<!--RESTFul风格的;新增用户信息。新增用户信息必须发送POST请求，需要使用from表单-->
<form th:action="@{/user}" method="post">
    用户名：<input type="text" name="username"><br/>
    密码：<input type="password" name="password"><br/>
    年龄：<input type="text" name="age"><br/>
    <input type="submit" value="保存">
</form>
<br/>
<br/>
<br/>
<form th:action="@{/user}" method="post">
    <input type="hidden" name="_method" value="put">
    用户名：<input type="text" name="username"><br/>
    密码：<input type="password" name="password"><br/>
    年龄：<input type="text" name="age"><br/>
    <input type="submit" value="修改">
</form>
<br/>
<br/>
<br/>

<a th:href="@{/user/120}" onclick="dele(event)">删除用户id=120的用户信息</a>
<form id="delForm" method="post">
    <input type="hidden" name="_method" value="deletE">
</form>

<script>
    function dele(event){
        //获取表单
        let delFrom = document.getElementById("delForm");
        //给form的action赋值
        delFrom.action=event.target.href;
        //发送post请求提交表单
        delFrom.submit();
        //阻止超链接的默认行为
        event.preventDefault();
    }
</script>

</body>
</html>